In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from IPython.display import Markdown

In [2]:
1,3,6,11,16,21,24,25,27,30

(1, 3, 6, 11, 16, 21, 24, 25, 27, 30)

# Q6.1
Consider a sample of n = 110 women drawn randomly from the membership
list of the National Organization for Women (N.O.W.), x = 25 of whom were
found to smoke. Use the result of this sample to test whether the rate found is
significantly different from the United States proportion of 0.30 for women.

## A6.1

# Q6.3
A study in Maryland identified 4032 white persons, enumerated in a nonofficial
1963 census, who became widowed between 1963 and 1974. These people
were matched, one to one, to married persons on the basis of race, gender, year
of birth, and geography of residence. The matched pairs were followed in a
second census in 1975, and the data for men have been analyzed so as to compare
the mortality of widowed men versus married men (see Example 6.3). The
data for 2828 matched pairs of women are shown in Table E6.3. Test to compare
the mortality of widowed women versus married women; state your null
and alternative hypotheses.

In [3]:
index = ['Dead', 'Alive']

columns = [
    ['Married women', 'Married women'],
    ['Dead', 'Alive']
]

data = [
    [1, 264],
    [249, 2314],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Widowed women')

df

              Married women
                       Dead Alive
Widowed women
Dead                      1   264
Alive                   249  2314

## A6.3

# Q6.6
Ninety‐eight heterosexual couples, at least one of whom was HIV‐infected,
were enrolled in an HIV transmission study and interviewed about sexual
behavior. Table E6.6 provides a summary of condom use reported by heterosexual
partners. Test to compare the men versus the women; state clearly your
null and alternative hypotheses and choice of test size (alpha level).

In [4]:
index = ['Ever', 'Never']

columns = [
    ['Man', 'Man'],
    ['Ever', 'Never']
]

data = [
    [45, 6],
    [7, 40],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Woman')

df

       Man
      Ever Never
Woman
Ever    45     6
Never    7    40

## A6.6

# Q6.11
In August 1976, tuberculosis was diagnosed in a high school student (index
case) in Corinth, Mississippi. Subsequently, laboratory studies revealed that
the student’s disease was caused by drug‐resistant tubercule bacilli. An epidemiologic
investigation was conducted at the high school. Table E6.11 gives
the rates of positive tuberculin reaction determined for various groups of students
according to the degree of exposure to the index case. Test to compare
the proportions of students with infection, high exposure versus low exposure;
state clearly your null and alternative hypotheses and choice of test size.

In [5]:
index = ['High', 'Low']

columns = ['Number tested', 'Number positive']

data = [
    [129, 63],
    [325, 36],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Exposure level')

df

                Number tested  Number positive
Exposure level
High                      129               63
Low                       325               36

## A6.11

# Q6.16
In a randomized trial, 111 pregnant women had elective induction of labor
between 39 and 40 weeks, and 117 controls were managed expectantly until
41 weeks. The results are shown in Table E6.16. Use Fisher’s exact test to
verify the alternative that patients with elective induction have less meconium
staining in labor than do control patients.

In [6]:
index = ['Number of patients', 'Number with meconium staining']

columns = ['Induction group', 'Control group']

data = [
    [111, 117],
    [1, 13],
]

df = pd.DataFrame(data=data, index=index, columns=columns)

df

                               Induction group  Control group
Number of patients                         111            117
Number with meconium staining                1             13

## A6.16

# Q6.21
A case–control study was conducted in Auckland, New Zealand to investigate
the effects of alcohol consumption on both nonfatal myocardial infarction and
coronary death in the 24 hours after drinking, among regular drinkers. Data
are tabulated separately for men and women in Table E6.21. For each group,
men and women, and for each type of event, myocardial infarction and coronary
death, test to compare cases versus controls. State, in each analysis, your
null and alternative hypotheses and choice of test size.

In [7]:
index = [
    ['Men'] * 2 + ['Women'] * 2,
    ['No', 'Yes'] * 2,
]

columns = [
    ['Myocardial infarction'] * 2 + ['Coronary death'] * 2,
    ['Controls', 'Cases'] * 2,
]

data = [
    [197, 142, 135, 103],
    [201, 136, 159, 69],
    [144, 41, 89, 12],
    [122, 19, 76, 4],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename(('', 'Drink in the last 24 h'))

df

                             Myocardial infarction       Coronary death
                                          Controls Cases       Controls Cases
      Drink in the last 24 h
Men   No                                       197   142            135   103
      Yes                                      201   136            159    69
Women No                                       144    41             89    12
      Yes                                      122    19             76     4

## A6.21

# Q6.24
Postmenopausal women who develop endometrial cancer are on the whole
heavier than women who do not develop the disease. One possible explanation
is that heavy women are more exposed to endogenous estrogens, which are
produced in postmenopausal women by conversion of steroid precursors to
active estrogens in peripheral fat. In the face of varying levels of endogenous
estrogen production, one might ask whether the carcinogenic potential of exogenous estrogens would be the same in all women. A study has been conducted
to examine the relation between weight, replacement estrogen therapy,
and endometrial cancer in a case–control study (Table E6.24). Use the Mantel–
Haenszel procedure to compare the cases versus the controls, pooling across
weight groups. State your null hypothesis and choice of test size.

In [8]:
index = [
    ['<57', '<57', '57-75', '57-75', '>75', '>75'],
    ['Cases', 'Controls', 'Cases', 'Controls', 'Cases', 'Controls'],
]

columns = [
    ['Estrogen replacement', 'Estrogen replacement'],
    ['Yes', 'No'],
]

data = [
    [20, 12],
    [61, 183],
    [37, 45],
    [113, 378],
    [9, 42],
    [23, 140],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename(('Weight (kg)', ''))

df

                     Estrogen replacement
                                      Yes   No
Weight (kg)
<57         Cases                      20   12
            Controls                   61  183
57-75       Cases                      37   45
            Controls                  113  378
>75         Cases                       9   42
            Controls                   23  140

## A6.24

# Q6.25
Risk factors of gallstone disease were investigated in male self‐defense officials
who received, between October 1986 and December 1990, a retirement
health examination at the Self‐Defense Forces Fukuoka Hospital, Fukuoka,
Japan (Table E6.25). For each of the three criteria (smoking, alcohol, and
body mass index), test, at the 5% level, for the trend of risk factor level with
gallstones.

## A6.25

# Q6.27
Postneonatal mortality due to respiratory illnesses is known to be inversely
related to maternal age, but the role of young motherhood as a risk factor for
respiratory morbidity in infants has not been explored thoroughly. A study
was conducted in Tucson, Arizona aimed at the incidence of lower respiratory
tract illnesses during the first year of life. In this study, over 1200 infants were
enrolled at birth between 1980 and 1984. The data shown in Table E6.27 are concerned with wheezing lower respiratory tract illnesses (wheezing LRIs).
For each of the two groups, boys and girls, test to investigate the relationship
between maternal age and respiratory illness.

In [9]:
index = ['<21', '21-25', '26-30', '>30']

columns = [
    ['Boys', 'Boys', 'Girls', 'Girls'],
    ['No', 'Yes', 'No', 'Yes'],
]

data = [
    [19, 8, 20, 7],
    [98, 40, 128, 36],
    [160, 45, 148, 42],
    [110, 20, 116, 25],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Maternal age (years)')

df

                     Boys     Girls
                       No Yes    No Yes
Maternal age (years)
<21                    19   8    20   7
21-25                  98  40   128  36
26-30                 160  45   148  42
>30                   110  20   116  25

## A6.27

# Q6.30
A study was conducted to ascertain factors that influence a physician’s
decision to transfuse a patient. A sample of 49 attending physicians was
selected. Each physician was asked a question concerning the frequency with
which an unnecessary transfusion was given because another physician suggested
it. The same question was asked of a sample of 71 residents. The data
are shown in Table E6.30. Test the null hypothesis of no association, with
attention to the natural ordering of the columns. State clearly your alternative
hypothesis and choice of test size.

In [10]:
index = ['Attending', 'Resident']

columns = [
    ['Frequency of unnecessary transfusion'] * 5,
    ['Very frequently (1/week)', 'Frequently (1/two weeks)', 'Occasionally (1/month)', 'Rarely (1/two months)', 'Never Attending'],
]

data = [
    [1, 1, 3, 31, 13],
    [2, 13, 28, 23, 5],

]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Type of physician')

df

                  Frequency of unnecessary transfusion  \
                              Very frequently (1/week)
Type of physician
Attending                                            1
Resident                                             2

                                                                   \
                  Frequently (1/two weeks) Occasionally (1/month)
Type of physician
Attending                                1                      3
Resident                                13                     28


                  Rarely (1/two months) Never Attending
Type of physician
Attending                            31              13
Resident                             23               5

## A6.30