In [1]:
import numpy as np
import pandas as pd
from IPython.display import Markdown as md

# Q1.1
Self‐reported injuries among left‐ and right‐handed people were compared in a
survey of 1986 college students in British Columbia, Canada. Of the 180 lefthanded
students, 93 reported at least one injury, and 619 of the 1716 righthanded
students reported at least one injury in the same period. Arrange the
data in a 2 × 2 table and calculate the proportion of people with at least one
injury during the period of observation for each group.

## A1.1

In [2]:
df = pd.DataFrame()
df.loc['Injury', 'Left-handed'] = 93
df.loc['No Injury', 'Left-handed'] = 180 - 93
df.loc['Injury', 'Right-handed'] = 619
df.loc['No Injury', 'Right-handed'] = 1716 - 619

df.astype(np.int64)

           Left-handed  Right-handed
Injury              93           619
No Injury           87          1097

In [3]:
left_prop = df.loc['Injury', 'Left-handed'] / df['Left-handed'].sum()
right_prop = df.loc['Injury', 'Right-handed'] / df[ 'Right-handed'].sum()

print(f"Left-handed injured proportion : {left_prop : .3f}")
print(f"Right-handed injured proportion: {right_prop : .3f}")

Left-handed injured proportion :  0.517
Right-handed injured proportion:  0.361

# Q1.5
In August 1976, tuberculosis was diagnosed in a high school student (index case)
in Corinth, Mississippi. Subsequently, laboratory studies revealed that the student’s
disease was caused by drug‐resistant tubercule bacilli. An epidemiologic
investigation was conducted at the high school. Table E1.5 gives the rate of
positive tuberculin reactions, determined for various groups of students according
to degree of exposure to the index case.

In [4]:
df = pd.DataFrame()
df.loc['High Exposure', 'Number tested'] = 129
df.loc['High Exposure', 'Number positive'] = 63
df.loc['Low Exposure', 'Number tested'] = 325
df.loc['Low Exposure', 'Number positive'] = 36

df.astype(np.int64)

               Number tested  Number positive
High Exposure            129               63
Low Exposure             325               36

(a) Compute and compare the proportions of positive cases for the two
exposure levels. What would be your conclusion?
(b) Calculate the odds ratio associated with high exposure. Does this result
support your conclusion in part (a)?

## A1.5(a)

In [5]:
props = df['Number positive'] / df['Number tested']
print(props.round(3).to_string())

High Exposure    0.488
Low Exposure     0.111

Students in the "high exposure" group have a much greater proportion of cases (over 4 times).

## A1.5(b)

In [6]:
pos_cases = df['Number positive']
neg_cases = df['Number tested'] - pos_cases

odds = pos_cases / neg_cases
odds_ratio = odds['High Exposure'] / odds['Low Exposure']

odds_ratio.round(3)

7.663

This supports the conclusion that high exposure increases the odds of testing positive.

# Q1.8
A case–control study was conducted in Auckland, New Zealand, to investigate
the effects among regular drinkers of alcohol consumption on both nonfatal
myocardial infarction and coronary death in the 24 hours after drinking. Data
were tabulated separately for men and women (Table E1.8).

In [7]:
index = [
    ['Men', 'Men', 'Women', 'Women'],
    ['No', 'Yes', 'No', 'Yes'],
]

columns = [
    ['Myocardial infarction', 'Myocardial infarction', 'Coronary death', 'Coronary death'],
    ['Controls', 'Cases', 'Controls', 'Cases'],
]

df = pd.DataFrame(index=index, columns=columns)
df.index = df.index.rename(['Gender', 'Drink during last 24h'])

df.iloc[0, :] = [197, 142, 135, 103]
df.iloc[1, :] = [201, 136, 159, 69]
df.iloc[2, :] = [144, 41, 89, 12]
df.iloc[3, :] = [122, 19, 76, 4]

df

                             Myocardial infarction       Coronary death
                                          Controls Cases       Controls Cases
Gender Drink during last 24h
Men    No                                      197   142            135   103
       Yes                                     201   136            159    69
Women  No                                      144    41             89    12
       Yes                                     122    19             76     4

(a) Refer to the myocardial infarction data. Calculate separately for men and
women the odds ratio associated with drinking.

(b) Compare the two odds ratios in part (a). When the difference is confirmed
properly, we have an effect modification.

## A1.8(a)

In [8]:
men_OR = (136/201) / (142/197)
women_OR = (19/122) / (41/144)

print(f"Men OR = {men_OR : .3f}")
print(f"Women OR = {women_OR : .3f}")

Men OR =  0.939
Women OR =  0.547

## A1.8(b)
The effect in women appears to be stronger (reduced cases of myocardial infarction if drinking in the last 24h).