In [1]:
import numpy as np
import pandas as pd

# Q2.1
Table E2.1 gives the values of serum cholesterol levels for 1067 American men
aged 25–34 years.
(a) Plot the histogram, frequency polygon, and cumulative frequency graph.
(b) Find, approximately, the median using your cumulative frequency graph.

In [3]:
index = ['80–119', '120–159', '160–199', '200–239', '240–279', '280–319', '320–399', 'Total']

columns = ['Number of men']

data = [13, 150, 442, 299, 115, 34, 14, 1067]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Cholesterol level (mg/100 mL)')

df

                               Number of men
Cholesterol level (mg/100 mL)
80–119                                    13
120–159                                  150
160–199                                  442
200–239                                  299
240–279                                  115
280–319                                   34
320–399                                   14
Total                                   1067

# Q2.5
The following are the daily fat intake (grams) of a group of 150 adult males.

In [10]:
data = np.array([
    22, 62, 77, 84, 91, 102, 117, 129, 137, 141, 42, 56, 78, 73, 96, 105, 117, 125,
    135, 143, 37, 69, 82, 93, 93, 100, 114, 124, 135, 142, 30, 77, 81, 94, 97, 102,
    119, 125, 138, 142, 46, 89, 88, 99, 95, 100, 116, 121, 131, 152, 63, 85, 81, 94,
    93, 106, 114, 127, 133, 155, 51, 80, 88, 98, 97, 106, 119, 122, 134, 151, 52, 70,
    76, 95, 107, 105, 117, 128, 144, 150, 68, 79, 82, 96, 109, 108, 117, 120, 147, 153
])

(a) Form a frequency distribution, including relative frequencies and cumulative
relative frequencies.

(b) Plot the frequency polygon and investigate the symmetry of the distribution.

(c) Plot the cumulative frequency graph and find the 25th and 75th percentiles. Also
calculate the midrange = 75th percentile – 25th percentile. (This is also called
the Inter‐quartile Range (IQR) and is another good descriptive measure of variation;
it is similar to the range but is less affected by extreme observations.)

# Q2.6
Refer to the data on daily fat intake in Exercise 2.5.

(a) Calculate the mean using raw data.

(b) Calculate, approximately, the mean using the frequency table obtained in
Exercise 2.5.

# Q2.15
The following are the activity values (micromoles per minute per gram of
tissue) of a certain enzyme measured in the normal gastric tissue of 35 patients
with gastric carcinoma:

In [13]:
data = np.array([
    0.360, 1.189, 0.614, 0.788, 0.273, 2.464, 0.571,
    1.827, 0.537, 0.374, 0.449, 0.262, 0.448, 0.971,
    0.372, 0.898, 0.411, 0.348, 1.925, 0.550, 0.622,
    0.610, 0.319, 0.406, 0.413, 0.767, 0.385, 0.674,
    0.521, 0.603, 0.533, 0.662, 1.177, 0.307, 1.499,
])

Calculate the mean x , variance s2, and standard deviation s.

# Q2.24
A laboratory investigator interested in the relationship between diet and the development
of tumors divided 90 rats into three groups and fed them with low‐fat, saturated‐
fat, and unsaturated‐fat diets, respectively. The rats were all the same age and
species and were in similar physical condition. An identical amount of tumor cells
was injected into a foot pad of each rat. The tumor‐free time is the time from injection
of tumor cells to the time that a tumor develops. All 30 rats in the unsaturatedfat
diet group developed tumors; tumor‐free times (in days) were:

In [18]:
data = np.array([
    112, 68, 84, 109, 153, 143, 60, 70, 98, 164, 63, 63, 77, 91, 91,
    66, 70, 77, 63, 66, 66, 94, 101, 105, 108, 112, 115, 126, 161, 178
])

Calculate the mean, geometric mean, and median.

# Q2.27
Data are shown in Table E2.27 for two groups of patients who died of acute
myelogenous leukemia. Patients were classified into the two groups according
to the presence or absence of a morphologic characteristic of white cells.

Patients termed AG positive were identified by the presence of Auer rods and/
or significant granulature of the leukemic cells in the bone marrow at diagnosis.
For AG‐negative patients, these factors were absent. Leukemia is a cancer
characterized by an overproliferation of white blood cells; the higher the
white blood count (WBC), the more severe the disease.

(a) Calculate separately for each group (AG positive, AG negative) the mean $\bar{x}$,
variance $s^{2}$, and standard deviation $s$ for survival time.

(b) Calculate separately for each group (AG positive, AG negative) the mean,
geometric mean, and median for white blood count.

In [22]:
columns = [
    ['AG positive, N = 17', 'AG positive, N = 17', 'AG negative, N = 16', 'AG negative, N = 16'],
    ['WBC', 'Survival time (weeks)', 'WBC', 'Survival time (weeks)']
]

data = [
    [2300, 65, 4400, 56],
    [750, 156, 3000, 65],
    [4300, 100, 4000, 17],
    [2600, 134, 1500, 7],
    [6000, 16, 9000, 16],
    [10500, 108, 5300, 22],
    [10000, 121, 10000, 3],
    [17000, 4, 19000, 4],
    [5400, 39, 27000, 2],
    [7000, 143, 28000, 3],
    [9400, 56, 31000, 8],
    [32000, 26, 26000, 4],
    [35000, 22, 21000, 3],
    [100000, 1, 79000, 30],
    [100000, 1, 100000, 4],
    [52000, 5, 100000, 43],
    [100000, 65, np.nan, np.nan],
]

df = pd.DataFrame(data=data, columns=columns)

df

   AG positive, N = 17                       AG negative, N = 16  \
                   WBC Survival time (weeks)                 WBC
0                 2300                    65              4400.0
1                  750                   156              3000.0
2                 4300                   100              4000.0
3                 2600                   134              1500.0
4                 6000                    16              9000.0
5                10500                   108              5300.0
6                10000                   121             10000.0
7                17000                     4             19000.0
8                 5400                    39             27000.0
9                 7000                   143             28000.0
10                9400                    56             31000.0
11               32000                    26             26000.0
12               35000                    22             21000.0
13              100000                     1             79000.0
14              100000                     1            100000.0
15               52000                     5            100000.0
16              100000                    65                 NaN


   Survival time (weeks)
0                   56.0
1                   65.0
2                   17.0
3                    7.0
4                   16.0
5                   22.0
6                    3.0
7                    4.0
8                    2.0
9                    3.0
10                   8.0
11                   4.0
12                   3.0
13                  30.0
14                   4.0
15                  43.0
16                   NaN

# Q2.29
The following are the heights (measured to the nearest 2 cm) and weights
(measured to the nearest kilogram) of 10 men and 10 women.

(a) Draw a scatter diagram, for men and women separately, to show the
association, if any, between height and weight.

(b) Calculate Pearson’s correlation coefficient, Kendall’s tau, and Spearman’s
rho rank correlation coefficients of height and weight for men and women
separately.

In [26]:
columns = [
    ['Men', 'Men', 'Women', 'Women'],
    ['Height', 'Weight', 'Height', 'Weight']
]

data = np.array([
    [162, 168, 174, 176, 180, 180, 182, 184, 186, 186],
    [65, 65, 84, 63, 75, 76, 82, 65, 80, 81],
    [152, 156, 158, 160, 162, 162, 164, 164, 166, 166],
    [52, 50, 47, 48, 52, 55, 55, 56, 60, 60],
]).T

df = pd.DataFrame(data=data, columns=columns)

df

     Men         Women
  Height Weight Height Weight
0    162     65    152     52
1    168     65    156     50
2    174     84    158     47
3    176     63    160     48
4    180     75    162     52
5    180     76    162     55
6    182     82    164     55
7    184     65    164     56
8    186     80    166     60
9    186     81    166     60

# Q2.32
In Exercise 1.46, we investigated the effects of the three binary preoperative
variables (x‐ray, grade, stage); in this exercise, we focus on the effects of the
two continuous factors (age, acid phosphatase). The 53 patients are divided
into two groups by the finding at surgery, a group with nodal involvement and
a group without (denoted by 1 or 0 in the sixth column). For each group and
for each of the two factors age at diagnosis and level of serum acid phosphatase,
calculate the mean $\bar{x}$ , variance $s^{2}$, and standard deviation $s$.

In [27]:
df = pd.read_csv('assets/Ch1_Q46_data.txt', sep=' & ', engine='python')

print(f"df num rows: {df.shape[0]}")
df.head()

df num rows: 53

   Xray  Grade  Stage  Age  Acid  Nodes
0     0      1      1   64    40      0
1     0      0      1   63    40      0
2     1      0      0   65    46      0
3     0      1      0   67    47      0
4     0      0      0   66    48      0

# Q2.33
Refer to the data on cancer of the prostate in Exercise 2.32. Investigate the
relationship between age at diagnosis and level of serum acid phosphatase by
calculating Pearson’s correlation coefficient and draw your conclusion. Repeat
this analysis, but analyze the data separately for the two groups: the group
with nodal involvement and the group without. Does the nodal involvement
seem to have any effect on the strength of this relationship?

# Q2.34
A study was undertaken to examine the data for 44 physicians working for an
emergency department at a major hospital so as to determine which of a
number of factors are related to the number of complaints received during the
preceding year. In addition to the number of complaints, the data available
consist of the number of visits – which serves as the size for the observation
unit, the physician – and four other factors under investigation. Table E2.34
presents the complete data set. For each of the 44 physicians there are two
continuous explanatory factors: revenue (dollars per hour) and workload at the
emergency service (hours); and two binary variables: gender (female/male)
and residency training in emergency services (no/yes). Divide the number of
complaints by the number of visits and use this ratio (number of complaints
per visit) as the primary outcome or endpoint X.

(a) For each of the two binary factors, gender (female/male) and residency
training in emergency services (no/yes), which divide the 44 physicians
into two subgroups – say, men and women – calculate the mean x and
standard deviation s for the endpoint X.

(b) Investigate the relationship between the outcome, number of complaints
per visit, and each of two continuous explanatory factors, revenue (dollars
per hour) and workload at the emergency service (hours), by calculating
Pearson’s correlation coefficient, and draw your conclusion.

(c) Draw a scatter diagram to show the association, if any, between the
number of complaints per visit and the workload at the emergency service.
Does it appear to be linear?

In [28]:
df = pd.read_csv('assets/Ch2_Q34_data.txt', sep=' & ', engine='python')

print(f"df num rows: {df.shape[0]}")
df.head()

df num rows: 44

   NVisits  Complaint Residency Gender  Revenue    Hours
0     2014          2         Y      F   263.03  1287.25
1     3091          3         N      M   334.94  1588.00
2      879          1         Y      M   206.42   705.25
3     1780          1         N      M   226.32  1005.50
4     3646         11         N      M   288.91  1667.25