In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from IPython.display import Markdown

# Q7.1
The criterion for issuing a smog alert is established at greater than 7 ppm of a
particular pollutant. Samples collected from 16 stations in a certain city give a
x value of 7.84 ppm with a standard deviation of s = 2.01 ppm. Do these findings
indicate that the smog alert criterion has been exceeded? State clearly your
null and alternative hypotheses and choice of test size (alpha level).

## A7.1

# Q7.3
In a study of saliva cotinine, seven subjects, all of whom had abstained from
smoking for a week, were asked to smoke a single cigarette. The cotinine levels
at 12 and 24 hours after smoking are given in Table E7.3. Test to compare the
mean cotinine levels at 12 and 24 hours after smoking. State clearly your null
and alternative hypotheses and choice of test size.

In [4]:
columns = [
    ['Cotinine levels (mmol/L)', 'Cotinine levels (mmol/L)'],
    ['After 12 hours', 'After 24 hours'],
]

data = [
    [73, 24],
    [58, 27],
    [67, 49],
    [93, 59],
    [33, 0],
    [18, 11],
    [147, 43],
]

df = pd.DataFrame(data=data, columns=columns)
df.index = df.index.rename('Subject')

df

        Cotinine levels (mmol/L)
                  After 12 hours After 24 hours
Subject
0                             73             24
1                             58             27
2                             67             49
3                             93             59
4                             33              0
5                             18             11
6                            147             43

## A7.3

# Q7.4
Dentists often make many people nervous. To see if such nervousness elevates
blood pressure, the systolic blood pressures of 60 subjects were measured in a
dental setting, then again in a medical setting. Data for 60 matched pairs
(dental–medical) are summarized as follows:
- mean = 4.47
- standard deviation = 8.77

Test to compare the means blood pressure under two different settings. Name the
test and state clearly your null and alternative hypotheses and choice of test size.

## A7.4

# Q7.7
Data in epidemiologic studies are sometimes self‐reported. Screening data
from the hypertension detection and follow‐up program in Minneapolis,
Minnesota (1973–1974) provided an opportunity to evaluate the accuracy of
self‐reported height and weight (see Example 7.4). Table 7.3 gives the
percentage discrepancy between self‐reported and measured height:

$\large{x = \frac{self-reported\hspace{1mm}height\hspace{1mm}-\hspace{1mm}measured\hspace{1mm}height}{measured\hspace{1mm}height} \times 100\%}$

Example 7.4 was focused on the sample of men with a high school education.
Using the same procedure, investigate the difference between self‐reported
height and measured height among:  
(a) Men with a college education.  
(b) Women with a high school education.  
(c) Women with a college education.

In each case, name the test and state clearly your null and alternative hypotheses
and choice of test size. Also, compare the mean difference in percent discrepancy
between:  
(d) Men with different education levels.  
(e) Women with different education levels.  
(f) Men versus women at each educational level.

In each case, name the test and state clearly your null and alternative hypotheses
and choice of test size.

## A7.7

# Q7.9
The Australian study of Example 7.6 also provided these data on monocular
acuity (expressed in log scale) for two female groups of subjects:  
(1) Australian females of European origin  

$n_1 = 63$  
$\bar{x_1} = -0.13$  
$s_1 = 0.17$

(2) Australian females of Aboriginal origin

$n_1 = 54$  
$\bar{x_1} = -0.24$  
$s_1 = 0.18$

Do these indicate a racial variation among women? Name your test and state
clearly your null and alternative hypotheses and choice of test size.

## A7.9

# Q7.12
In a trial to compare a stannous fluoride dentifrice (A) with a commercially
available fluoride‐free dentifrice (D), 270 children received A and 250
received D for a period of 3 years. The number x of DMFS increments (i.e.,
the number of new decayed, missing, and filled tooth surfaces) was obtained
for each child. Results were:

Dentifrice A:  
$\bar{x_A} = 9.78$  
$s_A = 7.51$

Dentifrice D:  
$\bar{x_D} = 12.83$  
$s_D = 8.31$

Do the results provide strong enough evidence to suggest a real effect of
fluoride in reducing the mean DMFS?

## A7.12

# Q7.13
An experiment was conducted at the University of California–Berkeley to
study the psychological environment’s effect on the anatomy of the brain. A
group of 19 rats was randomly divided into two groups. Twelve animals in the
treatment group lived together in a large cage, furnished with playthings that
were changed daily, while animals in the control group lived in isolation with
no toys. After a month the experimental animals were killed and dissected.
Table E7.13 gives the cortex weights (the thinking part of the brain) in milligrams.
Use the two‐sample t test to compare the means of the two groups and
draw appropriate conclusions.

In [ ]:
treatment = np.array([707, 696, 740, 712, 745, 708, 652, 749, 649, 690, 676, 699])
control = np.array([669, 650, 651, 627, 656, 642, 698])

## A7.13

# Q7.14
Depression is one of the most commonly diagnosed conditions among hospitalized
patients in mental institutions. The occurrence of depression was determined
during the summer of 1979 in a multiethnic probability sample of 1000 adults in
Los Angeles County, as part of a community survey of the epidemiology of
depression and help‐seeking behavior. The primary measure of depression was
the CES‐D scale developed by the Center for Epidemiologic Studies. On a scale
of 0–60, a score of 16 or higher was classified as depression. Table E7.14 gives
the average CES‐D score for the two genders. Use a t test to compare the males
versus the females and draw appropriate conclusions.

In [5]:
index = ['Male', 'Female']

columns = ['Cases', 'x̄', 's']

data = [
    [412, 7.6, 7.5],
    [588, 10.4, 10.3],
]

df = pd.DataFrame(data=data, index=index, columns=columns)

df

        Cases    x̄     s
Male      412   7.6   7.5
Female    588  10.4  10.3

## A7.14

# Q7.16
The following data are taken from a study that compares adolescents who
have bulimia to healthy adolescents with similar body compositions and levels
of physical activity. Table E7.16 provides measures of daily caloric intake
(kcal/kg) for random samples of 23 bulimic adolescents and 15 healthy ones.
Use the Wilcoxon test to compare the two populations.

In [6]:
bulimic = np.array([
    15.9, 17.0, 18.9, 16.0, 17.6, 19.6, 16.5, 28.7, 21.5, 18.9, 28.0, 24.1,
    18.4, 25.6, 23.6, 18.1, 25.2, 22.9, 30.9, 25.1, 21.6, 29.2, 24.5
])

healthy = np.array([
    30.6, 40.8, 25.7, 37.4, 25.3, 37.1, 24.5, 30.6,
    20.7, 33.2, 22.4, 33.7, 23.1, 36.6, 23.8
])

## A7.16

# Q7.19
Four different brands of margarine were analyzed to determine the level of
some unsaturated fatty acids (as a percentage of fats; Table E7.19). Test to
compare the four groups simultaneously. Name your test and state clearly
your null and alternative hypotheses and choice of test size.

In [ ]:
A = np.array([13.5, 13.4, 14.1, 14.2])
B = np.array([13.2, 12.7, 12.6, 13.9])
C = np.array([16.8, 17.2, 16.4, 17.3, 18.0])
D = np.array([18.1, 17.2, 18.7, 18.4])

## A7.19

# Q7.21
A study was conducted to investigate the risk factors for peripheral arterial
disease among persons 55–74 years of age. Table E7.21 provides data on LDL
cholesterol levels (mmol/L) from four different subgroups of subjects. Test to
compare the four groups simultaneously. Name your test and state clearly
your null and alternative hypotheses and choice of test size.

In [8]:
index = [
    '1. Patients with intermittent claudication',
    '2. Major asymptotic disease cases',
    '3. Minor asymptotic disease cases',
    '4. Those with no disease',
]

columns = ['n', 'x̄', 's']

data = [
    [73, 6.22, 1.62],
    [105, 5.81, 1.43],
    [240, 5.77, 1.24],
    [1080, 5.47, 1.31],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Group')

df

                                               n    x̄     s
Group
1. Patients with intermittent claudication    73  6.22  1.62
2. Major asymptotic disease cases            105  5.81  1.43
3. Minor asymptotic disease cases            240  5.77  1.24
4. Those with no disease                    1080  5.47  1.31

## A7.21

# Q7.22
A study was undertaken to clarify the relationship between heart disease and
occupational carbon disulfide exposure along with another important factor,
elevated diastolic blood pressure (DBP), in a data set obtained from a 10‐year
prospective follow‐up of two cohorts of over 340 male industrial workers in
Finland. Carbon disulfide is an industrial solvent that is used all over the
world in the production of viscose rayon fibers. Table E7.22 gives the mean
and standard deviation (SD) of serum cholesterol (mg/100 mL) among
exposed and nonexposed cohorts, by diastolic blood pressure (DBP). Test to
compare simultaneously, separately for the exposed and nonexposed groups,
the mean serum cholesterol levels at the three DBP levels using one‐way
ANOVA. Also, compare serum cholesterol levels between exposed and
nonexposed
cohorts at each level of DBP by using two‐sample t tests. Draw
your conclusions.

In [10]:
index = ['<95', '95–100', '≥100']

columns = [
    ['Exposed'] * 3 + ['Nonexposed'] * 3,
    ['n', 'Mean', 'SD'] * 2,
]

data = [
    [205, 220, 50, 271, 221, 42],
    [92, 227, 57, 53, 236, 46],
    [20, 233, 41, 10, 216, 48],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('DBP (mmHg)')

df

           Exposed          Nonexposed
                 n Mean  SD          n Mean  SD
DBP (mmHg)
<95            205  220  50        271  221  42
95–100          92  227  57         53  236  46
≥100            20  233  41         10  216  48

## A7.22

# Q7.23
When a patient is diagnosed as having cancer of the prostate, an important
question in deciding on treatment strategy is whether or not the cancer has
spread to the neighboring lymph nodes. The question is so critical in prognosis
and treatment that it is customary to operate on the patient (i.e., perform
a laparotomy) for the sole purpose of examining the nodes and removing
tissue samples to examine under the microscope for evidence of cancer.
However, certain variables that can be measured without surgery are predictive
of the nodal involvement. The purpose of the study presented here was to examine the data for 53 prostate cancer patients receiving surgery, to determine
which of five preoperative variables are predictive of nodal involvement
(see Table E2.32). For each of the 53 patients, there are two continuous
independent variables: age at diagnosis and level of serum acid phosphatase
(×100; called “acid”); and three binary variables: x‐ray reading, pathology
reading (grade) of a biopsy of the tumor obtained by needle before surgery,
and a rough measure of the size and location of the tumor (stage) obtained by
palpation with the fingers via the rectum. In addition, the sixth column presents
the findings at surgery– the primary outcome of interest, which is binary,
a value of 1 denoting nodal involvement, and a value of 0 denoting no nodal
involvement found at surgery. The three binary factors have been investigated
previously; this exercise is focused on the effects of the two continuous factors
(age and acid phosphatase). Test to compare the group with nodal involvement
and the group without, using:

(a) The two‐sample t test.  
(b) Wilcoxon’s rank‐sum test.

## A7.23

# Q7.24
The kitchen facilities manager for a college campus is considering switching
brand of disinfectant used in the 10 campus cafeteria kitchens. Ten surfaces were
identified in one of the kitchens. Each surface was randomly assigned a brand of
disinfectant (brand A, B, C, D, or E), so that each brand was used on two surfaces.
Each surface was cleaned, by the same worker using a standardized protocol,
using the assigned brand. A swab of each surface was taken immediately after
cleaning and the swabs were cultured and allowed to grow for 7 days. Bacterial
content counts were measured, then divided by 10^2 and log transformed before
analysis.

(a) Do the brands result in significantly different levels of bacterial growth?
Choose a multiple comparisons adjustment approach, and test all pairwise
comparisons of brands.

(b) Now consider the design of the study, specifically related to the types of
surfaces to which the disinfectants were applied. Suppose the ten selected
surfaces were 5 countertops (food cleaning, chopping, mixing, cooking,
and serving areas) and 5 handles (refrigerator, sink, cupboard, drawer,
oven). How could this study have been designed differently to take
advantage of the different surface types?

## A7.24

# Q7.25
A mold was grown in each of 12 culture dishes under three moisture levels for
the environment in which they were grown (4 plates at each moisture level);
other environmental conditions, specifically temperature, light, and nutrients,
were held constant across all dishes. Growth (measured as the diameter from
starting edge to farthest edge of the mold within the dish) was measured every
24 hours for 9 days. The diameter was measured twice each time, across the
dish at each of two reference marks on the rim of the dish, 90 degrees apart (so
the two measurements were taken at right angles to each other). We will refer
to these two measurements as ‘replicate’ measurements.

For this exercise, use the last observation only (week=9).

(a) Calculate summary statistics of the first diameter measurement by moisture
group (e.g., sample size, mean, standard deviation, minimum, first
and third quartiles, maximum). Just from visual inspection, do there
appear to be any differences between groups?

(b) Carry out a one‐way ANOVA to examine moisture group differences in
the first diameter measurement. Choose a multiple comparisons adjustment
approach, and test all pairwise comparisons.

(c) Calculate summary statistics of the second diameter measurement by
moisture group (e.g., sample size, mean, standard deviation, minimum,
first and third quartiles, maximum). Just from visual inspection, do there
appear to be any differences between groups?

(d) Carry out a one‐way ANOVA to examine moisture group differences in
the second diameter measurement. Choose a multiple comparisons adjustment
approach, and test all pairwise comparisons.

(e) Do your conclusions in (b) differ from those in (d)? If so, how do they
differ and why do you think they might differ?

## A7.25

# Q7.26
The mutans streptococci (MS) are bacteria (all related to Streptococcus mutans)
that can cause tooth decay. 167 persons with gum disease (elevated oral MS
levels) were recruited into a study with three treatment arms: chewing gum with
an active drug, chewing gum with no active drug, and no gum. Randomization
to the three groups was 1:1:1 (equal allocation) within blocks defined by current
smoker status. Participants in the gum groups were asked to chew the gum three
times daily for a minimum of 5 minutes each time and to carry out their usual
oral hygiene (tooth brushing, mouthwash, etc.). Participants in the group without
gum were asked to carry out their usual oral hygiene. During the 14 days prior
to randomization, subjects rinsed their mouths twice daily with a 0.12 %
chlorhexidine gluconate mouthrinse. They were asked to follow their assigned
treatment for three weeks. The outcome (“colony forming units” per ml, a count
of blotches on a standard sized petri dish after standard preparation) was
recorded at randomization and after 1, 2, and 3 weeks. The primary outcome
was the CFU ratio, week 3 divided by week 0. The question of interest is whether
the active gum treatment caused a decline in the level of oral mutans streptococci.
There are some missing CFU data, corresponding to participants who
missed visits.

(a) Examine the distribution of the primary outcome, CFU at week 3 divided
by CFU at week 0. In your judgement, is it sufficiently close to normally
distributed to consider using an ANOVA model? (We will revisit these
data in Chapter 11, where we consider models for count data.)

(b) Calculate summary statistics of the primary outcome by treatment group
(e.g., sample size, mean, standard deviation, minimum, first and third
quartiles, maximum). Just from visual inspection, do there appear to be
any differences between treatment groups?

(c) Fit a one‐way ANOVA for treatment group. Report the result and interpretation
of the F test in the ANOVA table.

(d) Compute the least squares means for the three treatment groups. Which
groups are significantly different from which other groups? Choose a multiple
comparisons adjustment approach, and test all pairwise comparisons.

(e) Write a brief summary of the study’s conclusions.

## A7.26