In [3]:
import numpy as np
import pandas as pd

# Q3.1
Although cervical cancer is not a leading cause of death among women in the
United States, it has been suggested that virtually all such deaths are preventable
(5166 American women died from cervical cancer in 1977). In an effort to
find out who is being or not being screened for cervical cancer (Pap testing),
data were collected from a certain community (Table E3.1). Is there a statistical
relationship here? (Try a few different methods: calculation of odds ratio,
comparison of conditional and unconditional probabilities, and comparison of
conditional probabilities.)

In [5]:
index = ['No', 'Yes', 'Total']

columns = ['Black', 'White', 'Total']

data = [
    [5244, 785, 6029],
    [25117, 2348, 27465],
    [30361, 3133, 33494],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Pap test')

df

          Black  White  Total
Pap test
No         5244    785   6029
Yes       25117   2348  27465
Total     30361   3133  33494

# Q3.2
In a study of intraobserver variability in assessing cervical smears, 3325 slides
were screened for the presence or absence of abnormal squamous cells. Each
slide was screened by a particular observer and then rescreened six months
later by the same observer. The results are shown in Table E3.2. Is there a
statistical relationship between first screening and second screening? (Try a
few different methods as in Exercise 3.1.)

In [6]:
index = ['Present', 'Absent', 'Total']

columns = [
    ['First screening', 'First screening', 'Total'],
    ['Present', 'Absent', '']
]

data = [
    [1763, 489, 2252],
    [403, 670, 1073],
    [2166, 1159, 3325],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('First screening')

df

                First screening        Total
                        Present Absent
First screening
Present                    1763    489  2252
Absent                      403    670  1073
Total                      2166   1159  3325

# Q3.3
From the intraobserver variability study above, find:

(a) The probability that abnormal squamous cells were found to be absent in
both screenings.

(b) The probability of an absence in the second screening given that abnormal
cells were found in the first screening.

(c) The probability of an abnormal presence in the second screening given that
no abnormal cells were found in the first screening.

(d) The probability that the screenings disagree.

# Q3.4
Given the screening test of Example 1.4, where:
- Sensitivity = 0.406
- Specificity = 0.985

Calculate the positive predictive values when the test is applied to the following
populations:
- Population A: 80% prevalence
- Population B: 25% prevalence

In [9]:
index = ['–', '+']

columns = [
    ['True', 'True', 'Total'],
    ['–', '+', '']
]

data = [
    [23362, 362, 23724],
    [225, 154, 379],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Test')

df

       True       Total
          –    +
Test
–     23362  362  23724
+       225  154    379

# Q3.5
Consider the data shown in Table E3.5 on the use of x‐ray as a screening test
for tuberculosis:

(a) Calculate the sensitivity and specificity.

(b) Find the disease prevalence.

(c) Calculate the positive predictive value both directly and indirectly using
Bayes’ theorem.

In [12]:
index = ['Negative', 'Positive', 'Total']

columns = [
    ['Tuberculosis', 'Tuberculosis'],
    ['No', 'Yes']
]

data = [
    [1739, 8],
    [51, 22],
    [1790, 30],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('X-ray')

df

         Tuberculosis
                   No Yes
X-ray
Negative         1739   8
Positive           51  22
Total            1790  30

# Q3.6
From the sensitivity and specificity of x‐rays found in Exercise 3.5, compute
the positive predictive value corresponding to these prevalences: 0.2, 0.4, 0.6,
0.7, 0.8, and 0.9. Can we find a prevalence when the positive predictive value
is preset at 0.8 or 80%?

# Q3.7
Refer to the standard normal distribution. What is the probability of obtaining
a z value of:  
(a) At least 1.25?  
(b) At least −0.84?

# Q3.8
Refer to the standard normal distribution. What is the probability of obtaining
a z value:  
(a) Between −1.96 and 1.96?  
(b) Between 1.22 and 1.85?  
(c) Between −0.84 and 1.28?

# Q3.10
Refer to the standard normal distribution. Find a z value such that the probability
of obtaining a larger z value is:  
(a) 0.05  
(b) 0.025  
(c) 0.2

# Q3.13
Medical research has concluded that people experience a common cold
roughly two times per year. Assume that the time between colds is normally
distributed with a mean of 160 days and a standard deviation of 40 days.

(a) What is the probability of going 200 or more days between colds? Of
going 365 or more days?  
(b) What is the probability of getting a cold within 80 days of a previous cold?

# Q3.15
Intelligence test scores, referred to as intelligence quotient or IQ scores, are
based on characteristics such as verbal skills, abstract reasoning power,
numerical ability, and spatial visualization. If plotted on a graph, the distribution
of IQ scores approximates a normal curve with a mean of about 100. An
IQ score above 115 is considered superior. Studies of “intellectually gifted”
children have generally defined the lower limit of their IQ scores at 140;
approximately 1% of the population have IQ scores above this limit (based on
Biracree, 1984).

(a) Find the standard deviation of this distribution.  
(b) What percent are in the “superior” range of 115 or above?  
(c) What percent of the population have IQ scores of 70 or below?

# Q3.17
Suppose it is known that the probability of recovery for a certain disease is
0.4. If 35 people are stricken with the disease, what is the probability that:

(a) 25 or more will recover?  
(b) Fewer than five will recover?

(Use the normal approximation.)

# Q3.19
Many samples of water, all the same size, are taken from a river suspected of
having been polluted by irresponsible operators at a sewage treatment plant.
The number of coliform organisms in each sample was counted; the average
number of organisms per sample was 15. Assuming the number of organisms
to be Poisson distributed, find the probability that:

(a) The next sample will contain at least 20 organisms.  
(b) The next sample will contain no more than five organisms.

# Q3.20
For the year 1981 (see Example 3.9), we also have the following data for the
South Atlantic states (Delaware, Florida, Georgia, Maryland, North and South
Carolina, Virginia, and West Virginia, and the District of Columbia):
- d = 7643 infant deaths
- N = 550300 live births

Find the infant mortality rate, and compare it to the national average using the
method of Example 3.9.

# Q3.21
For a t curve with 20 df, find the areas:

(a) To the left of 2.086 and of 2.845.  
(b) To the right of 1.725 and of 2.528.  
(c) Beyond ± 2.086 and beyond ± 2.845.

# Q3.22
For a chi‐square distribution with 2 df, find the areas:

(a) To the right of 5.991 and of 9.21.  
(b) To the right of 6.348.  
(c) Between 5.991 and 9.21.

# Q3.23
For an F distribution with 2 numerator dfs and 30 denominator dfs, find the
areas:

(a) To the right of 3.32 and of 5.39.  
(b) To the right of 2.61.  
(c) Between 3.32 and 5.39.

# Q3.24
In a study of intraobserver variability in assessing cervical smears, 3325
slides were screened for the presence or absence of abnormal squamous
cells. Each slide was screened by a particular observer and then rescreened
six months later by the same observer. The results are shown in Table E3.2.
Calculate the kappa statistic representing the agreement between the two
screenings.

In [14]:
index = ['Present', 'Absent', 'Total']

columns = [
    ['First screening', 'First screening', 'Total'],
    ['Present', 'Absent', '']
]

data = [
    [1763, 489, 2252],
    [403, 670, 1073],
    [2166, 1159, 3325],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('First screening')

df

                First screening        Total
                        Present Absent
First screening
Present                    1763    489  2252
Absent                      403    670  1073
Total                      2166   1159  3325

# Q3.25
Ninety‐eight heterosexual couples, at least one of whom was HIV‐infected,
were enrolled in an HIV transmission study and interviewed about sexual
behavior. Table E3.25 provides a summary of condom use reported by heterosexual
partners. How strongly do the couples agree?

In [18]:
index = ['Ever', 'Never', 'Total']

columns = [
    ['Man', 'Man', 'Total'],
    ['Ever', 'Never', '']
]

data = [
    [45, 6, 51],
    [7, 40, 47],
    [52, 46, 98],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Woman')

df

       Man       Total
      Ever Never
Woman
Ever    45     6    51
Never    7    40    47
Total   52    46    98